#europe-map {
  height: 300px;
  width: 100%;
}

.map-card {
  font-family: 'Rethink Sans', sans-serif;
  border-radius: 50%;
  border: 1px solid #a8aeb9;
  width: 60px;
  height: 60px;
  background: #ffffff;
  transition: 0.25s all;
  position: absolute;
  overflow: hidden;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 16px rgba(12, 12, 13, 0.05);
}

.map-card:hover {
  width: 200px;
  height: 150px;
  border-radius: 16px;
  display: block;
  border: 1px solid #a8aeb9;
  padding: 8px;
  box-shadow: 0px 16px 32px -4px rgba(12, 12, 13, 0.1), 0px 4px 4px -4px rgba(12, 12, 13, 0.05);
  z-index: 2;
}

.card-content{
  display: none;
  width: 100%;
}

.map-card:hover .card-content, .card-text {
  display: flex;
  flex-direction: column;
}

.image-container {
  display: flex;
  flex-direction: column;
}

.map-card-image {
  width: 48px;
  height: 48px !important;
  border-radius: 50% !important;
  margin: 5px;
}

.map-card:hover img {
  margin: 0px;
}

.map-card:hover .card-content {
  row-gap: 8px;
}

.map-card:hover .card-text {
  row-gap: 4px;
}

.card-content-title {
  font-weight: 700;
  line-height: 120%;
}

.card-content-text {
  font-weight: 400;
  line-height: 150%;
}

.button-text {
  font-weight: 400;
  line-height: 100%;
}

.card-button svg{
  height: 16px;
  width: 16px; 
  vertical-align: middle;
  margin-left: 4px;
}

@media (hover: none) {
  .map-card:hover {
    display: inherit;
  }
}

@media (min-width: 625px) {
  #europe-map {
    height: 400px;
  }
}

@media (min-width: 750px) {
  #europe-map {
    height: 475px;
  }
}

@media (min-width: 1024px) {
  #europe-map {
    height: 576px;
  }
}