.map-pin {
  font-family: 'Rethink Sans', sans-serif;
  border-radius: 50%;
  border: 1px solid #a2a6ae;
  width: 60px;
  height: 60px;
  background: #ffffff;
  transition: 0.3s ease-out;
  position: absolute;
  overflow: hidden;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 15px #0f0f0f0d;
  text-align: center;
}

.map-pin:hover {
  width: 200px;
  min-height: 150px;
  height: auto;
  border-radius: 16px;
  display: block;
  padding: 8px;
  box-shadow: 0px 16px 32px -5px rgba(15, 15, 15, 0.35), 0px 5px 5px -5px rgba(15, 15, 15, 0.25);
  z-index: 2;
}

.pin-title {
  font-weight: 700;
  line-height: 120%;
  padding-top: 8px;
  margin-block-end: 0 !important; 
}

.pin-description {
  font-weight: 400;
  line-height: 150%;
  margin-block-end: 0 !important; 
}

.pin-button {
  font-weight: 400;
  line-height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
  padding-top: 8px;
}

.pin-content {
  display: none;
  width: 100%;
}

.map-pin:hover .pin-content, .map-pin:hover {
  display: flex;
  flex-direction: column;
}

.map-pin:hover img {
  margin: 0px;
}

.pin-button svg {
  height: 16px;
  width: 16px;
}

#europe-map {
  width: 100%;
  height: 200px;
}

.pin-image {
  border-radius: 50% !important;
  margin: 5px;
}

@media (hover: none) {
  .map-pin:hover {
    display: inherit;
  }
}

@media (max-width: 550px) {
  .map-pin {
    width: 45px;
    height: 45px;
  }

  .pin-image {
    width: 33px;
    height: 33px !important;
  }
}

@media (min-width: 550px) {
  #europe-map {
    height: 275px;
  }

  .map-pin {
    width: 60px;
    height: 60px;
  }

  .pin-image {
    width: 48px;
    height: 48px !important;
  }
}

@media (min-width: 767px) {
  #europe-map {
    height: 375px;
  }
}

@media (min-width: 950px) {
  #europe-map {
    height: 475px;
  }
}

@media (min-width: 1024px) {
  #europe-map {
    height: 576px;
  }
}

@media (min-width: 1200px) {
  #europe-map {
    height: 650px;
  }
}